.img-container {
    width: 250px;
}

img {
    width: 100%;
    height: auto;
}



<style>
        .tab1 {
            display: inline-block;
            margin-left: 700px;
            margin-right: 700px;
            text-indent: 2em;
            text-align: justify;
        }
        div.a {
            text-align: center;
        }
        body {background-color: rgb(174, 164, 180);}
        
        div.b {border-bottom-style: dotted;}
        
        p.petite {font-variant-caps: petite-caps;}

        div {
            padding: 70px;
            border: 1px solid #4CAF50;

    </style>

